body {
  margin: 0; 
  font-family: "Roboto", sans-serif;
}

.con {
    display: flex;
    background-color: #EAEAEA;
    position: relative;
}

.usericon {
  display: flex; 
  align-items: center; 
  position: absolute;
  margin-left: 20px;

}
.usericon h2 {
  color: #07397B;
  font-size: 32px;

}

.usericon img.user1 {
  width: 2.6em; 
  height: auto;
  margin-right: 0.5em; 
}


  
  .signin__form input {
    width: 75%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .signin__form button {
    width: 80.5%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .signin__buttons {
    display: flex;
    justify-content: space-between;
  }

  

  .button{
    background-color: #FF6B00;
  }
  


  