body {
  margin: 0; 
  font-family: "Roboto", sans-serif;
}

/*navbar1*/
  
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07397B;
  padding: 0px 0px;
  
}

.right-section1 {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links1 li {
  display: inline-flex; 
  align-items: center;
  margin-right: 50px;
  font-family: "Roboto", sans-serif;
}

.nav-links1 li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding-top: 0px;
  
  
}
.linkedin{
    width: 18px;
    margin: 0;
    padding-top: 2px;
}

/*navbar2*/


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 13px 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-right: 130px;
}

.nav-links li {
  display: inline;
  margin-right: 28px;
}

.nav-links li a {
  text-decoration: none;
  color: #07397B;
  font-size: 17px;
}

.btn {
  padding: 10px 30px;
  background-color: #DF5F03;
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.logo {
  width: 170px;
  height: 80px;
  margin-left: 65px;
  margin-top: 0px;
}
.user{
  width: 30px;
  height: 36px;
  padding-left: 18px;
  padding-right: 22px;
}
@media screen and (max-width: 850px) {
  h1 {
    width:12px;
  }
}
